:root {
    --primary-bg-color: #E4EFE7;
    --secondary-bg-color: #FAF1E6;

    --primary-heading-color: #f1d684;

    --primary-button-color: #F2E2B1;
    --button-hover-color: #E2C98D;
}

body {
    background-color: var(--primary-bg-color);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: var(--secondary-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 40px;
}
h2 {
    color: var(--primary-heading-color);
}

label {
    display: block;
    margin: 10px 2px;
    color: #333;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* button {
    background-color: var(--primary-button-color);
    border: none;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    height: 30%;
    width: 30%;
}

button:hover {
    background-color: var(--button-hover-color);
} */

.popup-container, .delete-user-popup-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFF7F3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}
.view-popup-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFF7F3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 60%;
    height: 60%;
    text-align: center;
}
 /* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

} */


button {
    background-color: #F2E2B1;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    text-align: center;
        
}

button:hover, a > button:hover {
    transform: scale(1.2);
    background-color: #E2C98D;
}

.super-user-container > .actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.products-container, .login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000000;
}



/* Not sure why these styles were added ... if needed we'll check it later. */
/* input, select {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
} */