:root {
    --primary-bg-color: #E4EFE7;
    --secondary-bg-color: #FAF1E6;

    --primary-heading-color: #F2E2B1;

    --primary-button-color: #F2E2B1;
    --button-hover-color: #E2C98D;
}

body {
    background-color: var(--primary-bg-color);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: var(--secondary-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
    height: 30%;
}
h2 {
    color: var(--primary-heading-color);
}

label {
    display: block;
    margin: 10px 2px;
    color: #333;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: var(--primary-button-color);
    border: none;
    padding: 30px;
    border-radius: 5px;
    cursor: pointer;
    height: 30%;
    width: 30%;
}

button:hover {
    background-color: var(--button-hover-color);
}