:root {
    --primary-bg-color: #7cf39b;
    --secondary-bg-color: #f9c585;

    --primary-heading-color: #8d7427;

    --primary-button-color: #5aa4e1;
    --button-hover-color: #002fff;

    --popup-container-color: #f2e2da;
}

body {
    background-color: var(--primary-bg-color);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: var(--secondary-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 40px; */
}

h2 {
    color: var(--primary-heading-color);
}

label {
    display: block;
    margin: 10px 2px;
    color: #333;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* button {
    background-color: var(--primary-button-color);
    border: none;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    height: 30%;
    width: 30%;
}

button:hover {
    background-color: var(--button-hover-color);
} */

.popup-container, .delete-user-popup-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--popup-container-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}
.view-popup-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFF7F3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 60%;
    height: 60%;
    text-align: center;
}
 /* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

} */


button {
    background-color: var(--primary-button-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    text-align: center;
        
}

button:hover, a > button:hover {
    color: white;
    transform: scale(1.2);
    /* background-color: #E2C98D; */
    background-color: var(--button-hover-color);
}
/* 
.super-user-container > .actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */

.products-container, .login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000000;
}

.input-container {
    margin: 20px 0;
    position: relative;
}

.input-container label {
    position: absolute;
    transform: translateY(-50%);
    top: 30%;
    left: 15px;
    font-size: 16px;
    pointer-events: none;

    padding: 0px 5px;
    transition: .5s;
}

.input-container input {
    width: 360px;
    height: 60px;
    color: #000;
    font-size: 16px;
    padding: 0 15px;
    border: 1.2px solid rgb(220, 223, 223);
    outline: none;
    /* background: transparent; */
    border-radius: 15px;
}

.input-container input:focus~label,
.input-container input:valid~label {
    top: 0px;
    /* background: var(--secondary-bg-color); */
    /* color: var(--button-hover-color); */
    font-size: 14px;
    
}

/* page-footer-styles */
.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* position: absolute; */
  background-color: var(--secondary-bg-color);
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* gap: 20px; */
  /* box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1); */
  /* z-index: 100; */
}

.page-footer button {
  padding: 10px 20px;
  width: 15%;

  border: none;
  border-radius: 10px;
  /* background-color: #569ae7; */
  background-color: var(--primary-button-color);
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.page-footer button:hover {
    color: white;
    /* background-color: #357ab8; */
  background-color: var(--button-hover-color);
}



/* Not sure why these styles were added ... if needed we'll check it later. */
/* input, select {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
} */