.page-footer {
  margin-top: 30px;
  text-align: center;
}

.page-footer-btn {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #005f73;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.page-footer-btn:hover {
  background-color: #0a9396;
}